{% extends '_layouthomepage.html' %}
{% load static %}
<html lang="en">

<body>

  <!-- ***** Preloader Start *****

  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
   ***** Preloader End ***** -->


{% block User %}
<li>
	{% if user_st.State == False %}
	<a href="/auths/login" style="background: #F0DEBA">Login</a>
	{% endif %}

		{% if user_st.State == True %}
		<a href="/profile" style="background: #F0DEBA">{{ user_st.User }}</a>
        {% endif %}
</li>
{% endblock %}

{% block search %}
<div class="col-lg-6">
    <div class="caption header-text">
        <div class="search-input">
            <form action="" method="post" class="frm-getdata">
                {% csrf_token %}
                <input type="hidden" name="tokens" value="aref21312kodp&(3423&">
                <div class="form-group text-right">
                    <input type="text" placeholder="Type Something" id="searchText" name="search" />
                    <button id="searchbutton" type="button">Search Now</button> <!-- Trigger the search with GetData() -->
                </div>
            </form>
            <div class="wite"></div>

           <div id="searchbackground"  style="background: #F2DCB1;border-radius: 30px;padding: 30px; height: 400px; overflow-y: auto;">
	           <div class="row">
                    <div class="col-lg-4">
					<div class="searchresult">
	                {% csrf_token %}
                    <!-- Dynamic content will be inserted here -->
				  </div>
                    </div>
           </div>
	        </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


  {% block productdetails %}

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>{{ forms.title}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="single-product section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="{{ forms.image.url }}" alt="{{ forms.title }}">
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <h4>{{ forms.title}}</h4>
          <span class="price-item">{{ forms.price }}$</span>
          <p>{{ forms.caption }}</p>
          <form id="qty" action="#">
            <input type="qty" class="form-control" id="1" aria-describedby="quantity" placeholder="1">
            <button type="submit"><i class="fa fa-shopping-bag"></i> ADD TO CART</button>
	          <div class="savecontent">
		          <img class="imggif" data-cosmetic-id="{{ forms.id }}" src="{% static 'assets/images/bokkmarkgif.gif' %}" alt="SAVE" style="width: 50px; margin-top: 40px; margin-left: 10px; margin-bottom: -25px; cursor: pointer;">
				</div>
          </form>
          <ul>
            <li><span>category:</span> <a href="#">{{ forms.category }}</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="sep"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-content">
            <div class="row">
              <div class="nav-wrapper ">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews</button>
                  </li>
                </ul>
              </div>              
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                  <p>You can search for more templates on Google Search using keywords such as "templatemo digital marketing", "templatemo one-page", "templatemo gallery", etc. Please tell your friends about our website. If you need a variety of HTML templates, you may visit Tooplate and Too CSS websites.</p>
                  <br>
                  <p>Coloring book air plant shabby chic, crucifix normcore raclette cred swag artisan activated charcoal. PBR&B fanny pack pok pok gentrify truffaut kitsch helvetica jean shorts edison bulb poutine next level humblebrag la croix adaptogen. Hashtag poke literally locavore, beard marfa kogi bruh artisan succulents seitan tonx waistcoat chambray taxidermy. Same cred meggings 3 wolf moon lomo irony cray hell of bitters asymmetrical gluten-free art party raw denim chillwave tousled try-hard succulents street art.</p>
                </div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                  <div class="col-md-12">
							        <div class="card">
							                <!-- Button to Open the Modal -->
							              <button type="button" class="btn btn-primary float-left" data-product-id="{{ product_id }}" id="AddReview">
							               Add Review
							              </button>
							            </div>
					                  <table class="table" dir="rtl">
									    <thead>
									        <tr>
									            <th>Title</th>
									            <th>Caption</th>
									            <th>Created</th>
									        </tr>
									    </thead>
						                  <div class="errorcomment"></div>
									    <tbody class="body-table">

									    </tbody>
									</table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




	  <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content" dir="rtl">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">اطلاعات سوال</h4>
        <button type="button" id="btnclose" class="btn btn-danger" data-dismiss="modal">close</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-right" >
        <form method="post" action="" class="frm">
		    {% csrf_token %}
		    <input type="hidden" name="product_id" value="{{ product_id }}">
		    {% for item in formReviews %}
		        {{ item.label_tag }}
		        {{ item }}
		    {% endfor %}
		    <div class="alert alert-info result" style="display: none"></div>
		    <div class="text-center">
		        <button type="button" class="btn btn-info mt-2 save-data">Submit</button>
		    </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
{% block script %}
	<script type="text/javascript">
    var productId = "{{ product_id }}";
</script>
<script src="{% static 'assets/js/script_home.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">

    $(".save-data").click(function() {
        $(".result").show();
        $.ajax({
            type: "POST",
	        url: "http://" + window.location.host + "/homepage/productdetails/" + productId + "/saveAsk",
            data: $(".frm").serialize(),
            beforeSend: function () {
                $(".result").html("Processing...");
            },
            success: function (result) {
                if (result == "True") {
                    $(".result").html("Data successfully saved.");
                    GetData();  // Or update the page as needed
                } else if (result == "valid") {
                    $(".result").html("Validation error: Please correct the fields.");
                } else if (result == "exists") {
                    $(".result").html("Error: A review with this title already exists.");
                } else {
                    $(".result").html("An error occurred while saving data.");
                }
            },
            error: function (e) {
                $(".result").html("An error occurred while saving data.");
            }
        });
    });
</script>
{% endblock %}
  </body>
</html>